include ../header.jade
h1 Postulantes
a(href="/postulantes/create") Crear nuevo postulante
br
a(href="/buscarPorTecnologiaI") buscarPorTecnologia
br
form(method="post", action="/postulantes/buscar")
  br
  label Nombre
  input(type="text", name="nombre")
  label apellido
  input(type="text", name="apellido")
  input(type="submit", value="Buscar")
br
-if(postulantes)
  table
    thead
      tr
        th Nombre
        th Apellido
        th
        th
        th
    tbody
      -each postulante in postulantes
        tr
          td #{postulante.nombre}
          td #{postulante.apellido}
          td 
            a(href="/postulantes/#{postulante._id}") Ver
          td 
            a(href="/postulantes/#{postulante._id}/edit") Editar
          td
            form(method="post", action="/postulantes/#{postulante._id}")
              input(type="hidden", name="_method", value="DELETE")
              a(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}") Eliminar
-else
  p No se han encontrado postulantes
a(href="/") volver al inicio
include ../footer.jade
