extends ../layout
block content
  h1 #{postulante.nombre} #{postulante.apellido}
  p dni: #{postulante.dni}
  p fecha de nacimiento: #{nacimiento}
  p edad: #{edad}
  p Email: #{postulante.email}
  p Direccion:#{postulante.direccion}
  p Remuneracion pretendida: #{postulante.remuneracion}
  p postulado en: #{postulante.fechaPostulacion}
  p tecnologias: #{postulante.tecnologias}
  p Otros: #{postulante.otros}
  //a(href="/upload") Subida de imagen
  br
  a(href="/postulantes") Volver atrás